@import url(grid.css);
body {
    background: #FCFAF8;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

nav {
    background: #F4F2F0;
    border: #706D6B;
    border-style: none;
    border-radius: 10px;
    list-style: none; 
    margin: -0.25em 0;
    padding: 0;
    text-align: center;
}

li {
    color: #fff;
    display: inline-block;
    margin: 1em 0;
}

li a:hover {
    color: #B2A595;
}

a {
    color: #000;
    display: block;
    font-weight: bold;
    padding: 0.5em 2em;
    text-decoration: none;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #706D6B;
    text-align: center;
    margin: 1em 0; 
    padding: 0;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #B2A595;
    text-align: left;
    margin: 1.4em 0.9em; 
    padding: 0;
}

form{
    margin: 0 20em 0;
    max-width: 750px;
}
fieldset {
    border: 2px solid#706D6B;
    border-radius: 10px;
    padding-left: 10px;
    padding: 1em 0.75em;
}

label{
    padding: 1em 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #737373;
    font-size: 1em;
    
}

fieldset input, textarea{
    border: 0.14em solid #DCC6AC;
    clear: both;
    padding: 0.25em 0.5em;
    margin: 0.6em 1em;
    vertical-align: middle;
}

.section {
    color: #737373;
    font-family: Arial, Helvetica, sans-serif;
    margin: -0.5em 1em;
    padding: 0;
    text-align: left;
}
p {
    color: #737373;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.4em -0.1em;
    padding: 0 1em;
    font-size: 1em;
}

.button {
    background: #fff;
    color: #737373;
    border: 0.14em solid #DCC6AC;
    border-radius: 8px;
    padding: 8px 10px;
    margin: 5px 43px;
}
.button:hover {
    background-color: #DCC6AC;
}

.logo {
    margin: 0;
    width: 80px;
    height: auto;
    padding: 0 1em;
}
.tel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: #b3003e;
    padding: 1em 7.8em;
    border: none;
    vertical-align: bottom;
    width: 100%;
}
.wrapper {
    margin: 0 auto;
}
